<header>
    <nav class="navbar">
      <h3 class="logo">SAVOIRAgri</h3>
      <ul class="menu-links">
        <li><a href="#">Production animale  </a></li>
   
        <li><a href="#">Paysage</a></li>
     
        <li><a href="#">Horticulture  </a></li>
      
        <li><a href="#">Se connecter</a></li>
        <li class="join-btn"><a href="#">Rejoignez-nous</a></li>
        <span id="close-menu-btn" class="material-symbols-outlined">close</span>
      </ul>
      <span id="hamburger-btn" class="material-symbols-outlined">menu</span>
    </nav>
  </header>



  <section class="hero-section">
    <div class="content">
      <h1>Partagez Votre Savoir, Forgez une Nouvelle Vie</h1>
      <form action="#" class="search-form">
        <input type="text" placeholder="Rechercher n'importe quel domaine en agri..." required>
        <button class="material-symbols-outlined" type="submit">recherche</button>
      </form>
      <div class="popular-tags">
        Populaire:
        <ul class="tags">
          <li><a href="#">Production Animal</a></li>
          <li><a href="#">Production végétal</a></li>
          <li><a href="#">Hriculture</a></li>
          <li><a href="#">AI Design</a></li>
        </ul>
      </div>
    </div>
  </section>
  